<div align="right">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/wisaaco/TallerPythonEBAP/blob/main/lessons/6_Altres_Operacions.ipynb)

Si no funciona el botó podeu copiar el següent [enllaç](https://colab.research.google.com/github/wisaaco/TallerPythonEBAP/blob/main/lessons/6_Altres_Operacions.ipynb)

</div>

# 6 - Pandas: altres particularitats

## Funció Lambda

Començarem aquest aprenentatge amb les següents dades

In [18]:
import pandas as pd
from tabulate import tabulate # Nova llibreria

df = pd.read_csv("data/data_groups.csv") # Atenció: Dades creades aleatòriament !!

print(tabulate(df.head(), headers='keys'))

      Unnamed: 0  Dni        Nom                             CP  Ciutat      Sexe    Tipus certificat cat      Punts
--  ------------  ---------  ----------------------------  ----  ----------  ------  ----------------------  -------
 0             0  H61414629  María Dolores Arjona Jove     7800  Eivissa     M       B                            73
 1             1  S3138381C  Núria Quirós                  7511  Ruberts     F       A                            40
 2             2  J8698188C  Miguel José María Gil Vargas  7340  Alaro       M       A                            45
 3             3  A48821615  Jordi Chaves Bustamante       7609  Bellavista  F       B                            40
 4             4  U0247281I  Jana Rosa Collado Menéndez    7006  Palma       M       B                            86

In [19]:
df.Sexe.map(lambda x: "Masculi" if x=="M" else "Femeni")

0      Masculi
1       Femeni
2      Masculi
3       Femeni
4      Masculi
        ...
995     Femeni
996    Masculi
997     Femeni
998    Masculi
999     Femeni
Name: Sexe, Length: 1000, dtype: object

In [20]:
df.Punts.map(lambda x: "Superat" if x>50 else "NP")

0      Superat
1           NP
2           NP
3           NP
4      Superat
        ...
995         NP
996    Superat
997         NP
998         NP
999         NP
Name: Punts, Length: 1000, dtype: object

## Estadistics

QCUT

In [30]:
import numpy as np
marks = np.arange(0,1.1,0.25)
print(marks)
factors = pd.qcut(df.Punts,marks)
print(factors)
pd.value_counts(factors)

[0.   0.25 0.5  0.75 1.  ]
0       (50.0, 73.0]
1       (24.0, 50.0]
2       (24.0, 50.0]
3       (24.0, 50.0]
4       (73.0, 99.0]
           ...
995     (24.0, 50.0]
996     (50.0, 73.0]
997    (0.999, 24.0]
998    (0.999, 24.0]
999    (0.999, 24.0]
Name: Punts, Length: 1000, dtype: category
Categories (4, interval[float64, right]): [(0.999, 24.0] < (24.0, 50.0] < (50.0, 73.0] < (73.0, 99.0]]

(0.999, 24.0]    254
(24.0, 50.0]     250
(50.0, 73.0]     250
(73.0, 99.0]     246
Name: Punts, dtype: int64

Transform

## Valors desconeguts NaN, None, NaT
Del fichero WHO.csv

Contabiliza cuántos paises tienen algun valor NaN. ¿Cuál es el páis con mayor número de muestras desconocidas?

Series Temporales
Las series temporales son muestras de valores tomadas a lo largo de un tiempo con un muestro generalmente equidistante. Por ejemplo, información económica, demografía, meteorologica; registros de seguridad, de actividad, etc.

La librería Pandas gestiona las series temporales usando el indice: una fecha (datetime)

El indice de un dataframe es el pilar básico de acceso a los valores, por lo cual su uso simplifica procesos de filtrado, selección, interpolación, etc.

Enlace a la documentación: TimeSeries

## Series temporals

In [9]:
import pandas as pd
df = pd.read_csv("data/rdu-weather-history.csv",sep=";")  
#Qué contiene el fichero
df.describe() 
##
print(df.columns)

Index(['date', 'temperaturemin', 'temperaturemax', 'precipitation', 'snowfall',
       'snowdepth', 'avgwindspeed', 'fastest2minwinddir',
       'fastest2minwindspeed', 'fastest5secwinddir', 'fastest5secwindspeed',
       'fog', 'fogheavy', 'mist', 'rain', 'fogground', 'ice', 'glaze',
       'drizzle', 'snow', 'freezingrain', 'smokehaze', 'thunder', 'highwind',
       'hail', 'blowingsnow', 'dust', 'freezingfog'],
      dtype='object')

In [10]:
df.date

0       2015-04-08
1       2015-04-20
2       2015-04-26
3       2015-04-28
4       2015-05-03
           ...
4552    2019-05-24
4553    2019-05-26
4554    2019-06-08
4555    2019-05-06
4556    2019-05-12
Name: date, Length: 4557, dtype: object

¿Cómo podría sacar la temperatura media de un año?¿o la temperatura más alta de todos los meses de julio?

In [11]:
from pandas import DatetimeIndex
df.index = DatetimeIndex(df["date"])

In [12]:
df

,date,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
date,,,,,,,,,,,,,,,,,,,,,
2015-04-08,2015-04-08,62.1,84.0,0.00,0.0,0.0,5.82,40.0,29.97,30.0,...,No,No,No,Yes,No,No,No,No,No,No
2015-04-20,2015-04-20,63.0,78.1,0.28,0.0,0.0,11.86,180.0,21.92,170.0,...,No,No,No,No,Yes,No,No,No,No,No
2015-04-26,2015-04-26,45.0,54.0,0.02,0.0,0.0,5.82,50.0,12.97,40.0,...,No,No,No,No,No,No,No,No,No,No
2015-04-28,2015-04-28,39.0,69.1,0.00,0.0,0.0,2.68,40.0,12.08,40.0,...,No,No,No,No,No,No,No,No,No,No
2015-05-03,2015-05-03,46.9,79.0,0.00,0.0,0.0,2.68,200.0,12.08,210.0,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-24,2019-05-24,68.0,93.0,0.00,0.0,0.0,5.82,280.0,14.09,330.0,...,No,No,No,Yes,Yes,No,No,No,No,No
2019-05-26,2019-05-26,72.0,93.9,0.05,0.0,0.0,5.82,240.0,17.00,240.0,...,No,No,No,No,Yes,No,No,No,No,No
2019-06-08,2019-06-08,71.1,79.0,0.32,0.0,0.0,9.40,100.0,18.12,80.0,...,No,No,No,No,Yes,No,No,No,No,No
2019-05-06,2019-05-06,60.1,77.0,0.00,0.0,0.0,5.82,40.0,14.09,50.0,...,No,No,No,No,No,No,No,No,No,No
2019-05-12,2019-05-12,64.9,75.9,0.00,0.0,0.0,11.63,230.0,21.92,220.0,...,No,No,No,No,No,No,No,No,No,No

In [13]:
df.loc["2015"]

,date,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
date,,,,,,,,,,,,,,,,,,,,,
2015-04-08,2015-04-08,62.1,84.0,0.00,0.00,0.00,5.82,40.0,29.97,30.0,...,No,No,No,Yes,No,No,No,No,No,No
2015-04-20,2015-04-20,63.0,78.1,0.28,0.00,0.00,11.86,180.0,21.92,170.0,...,No,No,No,No,Yes,No,No,No,No,No
2015-04-26,2015-04-26,45.0,54.0,0.02,0.00,0.00,5.82,50.0,12.97,40.0,...,No,No,No,No,No,No,No,No,No,No
2015-04-28,2015-04-28,39.0,69.1,0.00,0.00,0.00,2.68,40.0,12.08,40.0,...,No,No,No,No,No,No,No,No,No,No
2015-05-03,2015-05-03,46.9,79.0,0.00,0.00,0.00,2.68,200.0,12.08,210.0,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-02-25,2015-02-25,18.1,46.0,0.36,1.89,1.18,4.25,170.0,12.08,160.0,...,No,No,No,Yes,No,No,No,No,No,No
2015-03-01,2015-03-01,28.2,35.1,0.67,0.00,1.18,3.58,220.0,12.08,220.0,...,No,No,No,No,No,No,No,No,No,No
2015-03-07,2015-03-07,20.1,57.9,0.00,0.00,0.00,6.04,230.0,16.11,230.0,...,No,No,No,No,No,No,No,No,No,No
2015-03-12,2015-03-12,48.9,66.0,0.00,0.00,0.00,7.83,90.0,17.00,90.0,...,No,No,No,No,No,No,No,No,No,No
2015-03-15,2015-03-15,48.0,73.0,0.00,0.00,0.00,6.26,290.0,16.11,310.0,...,No,No,No,Yes,No,No,No,No,No,No

In [14]:
df.loc["2015"].temperaturemin.min()

7.2

In [15]:
df.loc["2015"].temperaturemin.min()>df.loc["2016"].temperaturemin.min()

False

In [16]:
df.loc["03/2015"].temperaturemin

date
2015-03-02    34.0
2015-03-04    37.9
2015-03-09    48.0
2015-03-19    39.9
2015-03-20    39.9
2015-03-21    39.9
2015-03-28    32.0
2015-03-30    41.0
2015-03-08    35.1
2015-03-10    50.0
2015-03-13    42.1
2015-03-14    45.0
2015-03-18    39.0
2015-03-05    32.0
2015-03-16    41.0
2015-03-22    46.9
2015-03-24    36.0
2015-03-25    46.9
2015-03-03    35.1
2015-03-06    24.3
2015-03-11    59.0
2015-03-17    46.9
2015-03-29    22.1
2015-03-23    43.0
2015-03-26    57.0
2015-03-27    39.9
2015-03-31    35.1
2015-03-01    28.2
2015-03-07    20.1
2015-03-12    48.9
2015-03-15    48.0
Name: temperaturemin, dtype: float64

In [17]:
df.loc["03/2015"].temperaturemin.min()

20.1

[![License: CC BY 4.0](https://img.shields.io/badge/License-CC_BY_4.0-lightgrey.svg)](https://creativecommons.org/licenses/by/4.0/) <br/>
Isaac Lera and Gabriel Moya <br/>
Universitat de les Illes Balears <br/>
isaac.lera@uib.edu, gabriel.moya@uib.edu